<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <% if (locals.admin) { %>
    <title>V-Admin</title>
    <%- include('./partials/admin/head') %>
    <% }else{ %>
      <title>Vogue</title>
      <%- include('./partials/user/head') %>
    <% } %>
</head>
<% if (locals.admin) { %>
  <%- include('./partials/admin/header') %>
  <% }else{ %>
    <%- include('./partials/user/header') %>
  <% } %>
<%- body %>
  <% if (locals.admin) { %>
    <%- include('./partials/admin/footer') %>
    <% }else{ %>
      <%- include('./partials/user/footer') %>
    <% } %>

    <% if (locals.admin) { %>
      <%- include('./partials/admin/script') %>
      <% }else{ %>
        <%- include('./partials/user/script') %>
      <% } %>
</body>
</html>