<div class="mb-3 p-3">
  <input type="text" id="searchInput" class="form-control mb-2" placeholder="Search all orders" style="border: 1px solid #888C8C;">
  <button id="searchButton" class="btn btn-success">Search</button>
</div>
<div class="card-body">
    <div class="table-responsive">
        <div class="table-responsive">
            <table class="table align-middle table-nowrap mt-30 mb-100 ">
                <thead class="table-light">
                    <tr>
                        <th class="align-middle" scope="col">View Products</th>
                        <th class="align-middle" scope="col">Receipt</th>
                        <th class="align-middle" scope="col">Billing Name</th>
                        <th class="align-middle" scope="col">Date</th>
                        <th class="align-middle" scope="col">Total</th>
                        <th class="align-middle" scope="col">Order Status</th>
                        <th class="align-middle" scope="col">Payment Method</th>
                        <th class="align-middle" scope="col">Shipping Status</th>
                        <!-- <th class="align-middle" scope="col">View Details</th> -->
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(order => { %>
                    <tr data-orderId="<%= order._id %>">
                        <td><a href="#" class="btn">View Products</a></td>
                        <td class="fw-bold"><%=order._id %></td>
                        <td><%= order.deliveryAddress[0].fname %> <%= order.deliveryAddress[0].lname%></td>
                        <td>
                            <%= order.date.toISOString().split('T')[0] %>
                        </td>
                        <td>
                            <%=order.totalAmount %>
                        </td>
                        <td>&#8377;<%=order.shipping_status %>
                        </td>
                        <td>
                          <% if (order.paymentMethod === 'onlinepayment') { %>
                            Online
                          <% } else { %>
                            COD
                          <% } %>
                        </td>
                        <td>
                            <% if (order.shipping_status === 'Cancelled') { %>
                                Order Cancelled
                                <% } else if (order.shipping_status === 'Returned') { %>
                                Products Returned
                                <% } else { %>
                                  <a onclick="cancelorder('<%= order._id %>')" class="cancel btn-outline-danger">Cancel</a>
                                  <a onclick="returnproducts('<%= order._id %>')" class="cancel btn-outline-secondary">Return</a>
                            <% } %>
                          </td>                          
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div> 
    <!-- table-responsive end -->
 </div>

 <script>
    function cancelorder(orderId){
        console.log(orderId,"orderId");
        $.ajax({
      url: "/cancelOrder/" + orderId,
      method: "post",
      success: (response) => {
        console.log(response, "response");
        if (response.status === true) {
          const row = $('tr[data-orderId="' + orderId + '"]');
        //   row.remove();
        }
        Toastify({
          text: response.message,
          duration: 1000,

          newWindow: true,
          close: true,
          gravity: "top", // `top` or `bottom`
          position: "center", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            background: "linear-gradient(to right, #00b09b, #96c93d)",
          },
          onClick: function () {}, // Callback after click
        }).showToast();
      },
      error: (error) => {
        console.error("Error:", error);
      },
    });
    }
 </script>

<script>
    function returnproducts(orderId){
        console.log(orderId,"orderId");
        $.ajax({
      url: "/returnProducts/" + orderId,
      method: "post",
      success: (response) => {
        console.log(response, "response");
        if (response.status === true) {
          const row = $('tr[data-orderId="' + orderId + '"]');
        //   row.remove();
        }
        Toastify({
          text: response.message,
          duration: 1000,

          newWindow: true,
          close: true,
          gravity: "top", // `top` or `bottom`
          position: "center", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            background: "linear-gradient(to right, #00b09b, #96c93d)",
          },
          onClick: function () {}, // Callback after click
        }).showToast();
      },
      error: (error) => {
        console.error("Error:", error);
      },
    });
    }
 </script>