<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p> We found <strong class="text-brand"><%= totalProducts %></strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="/shop">featured</a></li>
                                        <li><a href="?sort=lowToHigh">Price: Low to High</a></li>
                                        <li><a href="?sort=highToLow">Price: High to Low</a></li>
                                        <li><a href="?sort=releaseDate">Release Date</a></li>
                                        <!-- <li><a href="#">Avg. Rating</a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid-3">
                        <% products.forEach(product => { %>
                         
                      
                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/productDetails/<%= product._id %>">
                                            <img class="default-img" src="/productImages/<%= product.productImages[0] %>" alt="" style="width: 280px" >
                                            <img class="hover-img" src="/productImages/<%= product.productImages[0] %>" alt="" style="width: 280px">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"> -->
<i class="fi-rs-search"></i></a>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addtowishlist(event,'<%=product._id %>')"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/productDetails"><%= product.productName %></a>
                                    </div>
                                    <h2><a href="/productDetails"><%= product.productDescription %></a></h4>
                                    <div class="product-price">
                                        <span>₹<%= product.productSalePrice %></span>
                                        <span class="old-price">₹<%=product.productPrice%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                 <% }) %>
                       
                    </div>
                    <!--pagination-->
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                              <% for (let i = 1; i <= totalPages; i++) { %>
                                  <li class="page-item <% if (currentPage === i) { %>active<% } %>">
                                      <a class="page-link" href="/shop?page=<%= i %>"><%= i %></a></li>
                                <% } %>
                              </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            <li><a href="shop-grid-right.html">Shoes & Bags</a></li>
                            <li><a href="shop-grid-right.html">Blouses & Shirts</a></li>
                            <li><a href="shop-grid-right.html">Dresses</a></li>
                            <li><a href="shop-grid-right.html">Swimwear</a></li>
                            <li><a href="shop-grid-right.html">Beauty</a></li>
                            <li><a href="shop-grid-right.html">Jewelry & Watch</a></li>
                            <li><a href="shop-grid-right.html">Accessories</a></li>
                        </ul>
                    </div>
                    <!-- Fillter By Price -->
                    <div class="sidebar-widget price_range range mb-30">
                        <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">Fill by price</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        <div class="price-filter">
                            <div class="price-filter-inner">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <div class="label-input">
                                        <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                        </div>
                        <a href="shop-grid-right.html" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Filter</a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    
    function addtowishlist(event, productId) {
  event.preventDefault(); // Prevent the default behavior of the link
  
  fetch(`/addToWishlist/${productId}`, {
    method: 'POST', 
    headers: {
      'Content-Type': 'application/json'
    },
  })
    .then(response => response.json())
    .then(data => {
        Toastify({
            text: data.message,
            duration: 1000,

            newWindow: true,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function () {}, // Callback after click
          }).showToast();
      // Handle the response from the server
      console.log(data);
    })
    .catch(error => {
      console.log(error);
    });
}
</script>

<!-- <script>

const filterSelect = document.getElementById('filterSelect');
const pageSelect = document.querySelectorAll('.page-link');

console.log(pageSelect,"pageSelect");
console.log(filterSelect,"filterSelect");

filterSelect.addEventListener('change', handleFilterChange);
function handleFilterChange(event) {
//   const searchQuery = searchInput.value;
  const filterOption = event.target.value;
  const pageOption = pageSelect.value;
  console.log(filterOption,"filterOption");
  const url = `/shop?filter=${filterOption}&page=1`;
    console.log(url,"url");
  fetch(url)
    // .then(response => response.json())
    // .then(data => {
    //   console.log(data, "resp, d");
    // })
    // .catch(error => {
    //   Handle errors
    // });
    .then(response => {
        console.log("check", response);
        if (!response.ok) {
            throw new Error('Network response was not OK');
        }
        return response.json();
    })
    .then(data => {
        // Handle the response data
        console.log(data);
        
        // Use the data to update the UI or perform any other operations
        // Modify this according to your requirements
        document.querySelector('.currentPage').textContent = data.currentPage;
        document.querySelector('.totalPages').textContent = data.totalPages;
        // Process and render the products data however you want
        // ...

        // Show/hide elements, update UI, etc.
        // ...
    })
    .catch(error => {
        // Handle the error
        console.error(error);  // Log the error for debugging
        // Show error message or take appropriate action
        // ...
 
}

</script> -->